absl-py==2.1.0
aext-assistant @ file:///C:/b/abs_7e0qjcige6/croot/aext-assistant_1717062202219/work
aext-assistant-server @ file:///C:/b/abs_261y2c9vsm/croot/aext-assistant-server_1717060019302/work
aext-core @ file:///C:/b/abs_1e882xlg8y/croot/aext-core_1717056431204/work
aext-core-server @ file:///C:/b/abs_24av6ljtvu/croot/aext-core-server_1717075079138/work
aext-panels @ file:///C:/b/abs_44bc4hv663/croot/aext-panels_1717062218055/work
aext-panels-server @ file:///C:/b/abs_7f9_48fhp3/croot/aext-panels-server_1717060738001/work
aext-share-notebook @ file:///C:/b/abs_4bhc14ko2x/croot/aext-share-notebook_1717059348177/work
aext-share-notebook-server @ file:///C:/b/abs_2b3c16a8t0/croot/aext-share-notebook-server_1717057990383/work
aext-shared @ file:///C:/b/abs_1ex0tj8g9m/croot/aext-shared_1716991146845/work
alembic==1.14.1
anaconda-cli-base @ file:///C:/b/abs_10tn0i9q_v/croot/anaconda-cli-base_1731510927919/work
anaconda-cloud-auth @ file:///C:/b/abs_30636r4zkk/croot/anaconda-cloud-auth_1731440286098/work
annotated-types @ file:///C:/b/abs_0dmaoyhhj3/croot/annotated-types_1709542968311/work
anyascii==0.3.2
anyio @ file:///C:/b/abs_31grv7a7bl/croot/anyio_1729121290992/work
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/argon2-cffi-bindings_1699549801117/work
arrow==1.3.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-lru @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/async-lru_1701796859357/work
attrs @ file:///C:/b/abs_24xj44kobp/croot/attrs_1729089434205/work
autopep8==2.3.1
Babel @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/babel_1699475785740/work
beautifulsoup4 @ file:///C:/b/abs_d5wytg_p0w/croot/beautifulsoup4-split_1718029833749/work
black==24.10.0
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.9.0
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
cachetools==5.5.1
catboost==1.2.7
category-encoders==2.6.4
certifi @ file:///C:/b/abs_1fw_exq1si/croot/certifi_1725551736618/work/certifi
cffi @ file:///C:/b/abs_90yq4lmu83/croot/cffi_1726856448345/work
chardet==5.2.0
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/click_1699473800648/work
cloudpickle==3.1.1
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
compress_json==1.1.1
contourpy==1.3.1
contractions==0.1.73
cryptography==44.0.1
cycler==0.12.1
databricks-sdk==0.44.0
debugpy @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/debugpy_1699554994633/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.18
deprecation==2.1.0
distro==1.9.0
docker==7.1.0
dynaconf==3.2.7
eli5==0.13.0
evidently==0.6.3
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
Faker==36.1.1
fastapi==0.115.8
fastjsonschema @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/python-fastjsonschema_1699475134300/work
filelock==3.16.1
Flask==3.1.0
flatbuffers==24.3.25
fonttools==4.55.0
fqdn==1.5.1
fsspec==2024.10.0
future==1.0.0
gast==0.6.0
gensim==4.3.3
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.38.0
google-pasta==0.2.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.68.0
gunicorn==23.0.0
h11 @ file:///C:/b/abs_1czwoyexjf/croot/h11_1706652332846/work
h5py==3.12.1
httpcore @ file:///C:/b/abs_55n7g233bw/croot/httpcore_1706728507241/work
httptools==0.6.4
httpx @ file:///C:/b/abs_43e135shby/croot/httpx_1723474830126/work
huggingface-hub==0.26.2
hyperopt==0.2.7
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
imageio==2.36.1
imbalanced-learn==0.13.0
imblearn==0.0
importlib_metadata==8.5.0
ipykernel @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/ipykernel_1728665608850/work
ipython @ file:///C:/b/abs_53it5seiim/croot/ipython_1726064251844/work
ipywidgets==8.1.5
isoduration==20.11.0
iterative-telemetry==0.0.10
itsdangerous==2.2.0
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jedi @ file:///C:/b/abs_1b8kmj7rrm/croot/jedi_1721058359741/work
Jinja2 @ file:///C:/b/abs_ddyeze2h6_/croot/jinja2_1730903330414/work
joblib==1.4.2
json5 @ file:///C:/b/abs_743lprxrv5/croot/json5_1730786818336/work
jsonpointer==3.0.0
jsonschema @ file:///C:/b/abs_394_t6__xq/croot/jsonschema_1728486718320/work
jsonschema-specifications @ file:///C:/Users/dev-admin/py312/jsonschema-specifications_1706803038066/work
jupyter==1.1.1
jupyter-console==7.6.0
jupyter-lab==3.7.0
jupyter-server==2.6.0
keras==2.13.0
lale==0.7.0
lightgbm==4.5.2
linfo==1.4.0
lxml==4.10.0
mlflow==2.7.0
matplotlib==3.7.1
misaka==2.1.1
mlxtend==0.21.0
nltk==3.7
numpy==1.24.1
opencv-python==4.7.0.72
optuna==3.1.1
Pillow==10.0.1
pmdarima==2.0.2
psutil==5.9.4
py-spy==0.3.8
py-cpuinfo==9.0.0
pyarrow==12.1.0
pygments==2.14.0
pymongo==3.13.0
pyod==0.9.3
pyparsing==3.1.0
pyray==0.1.6
pytest==7.0.0
python-dotenv==0.20.0
python-graphviz==0.20.1
python-json-logger==2.0.0
pytorch-lightning==2.0.1
pyyaml==6.0
requests==2.28.2
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
setuptools==65.5.0
shap==0.41.0
six==1.16.0
snowflake-connector-python==3.0.0
sqlalchemy==1.5.0
sqlparse==0.4.3
streamlit==1.22.1
tensorboard==2.10.0
tensorflow==2.14.0
tensorflow-datasets==4.8.0
tensorflow-hub==0.14.0
termcolor==2.2.0
tfa==0.15.0
texttable==1.6.7
torch==2.1.0
tqdm==4.64.0
transformers==4.29.2
typing-extensions==4.7.0
urllib3==1.26.14
watchdog==2.2.1
wrapt==1.15.0
xgboost==1.7.5
zipp==3.12.0
